@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@300&family=Rock+Salt&display=swap');

/* colors
#214c00 - green
#2B3A67 - blue
#FF9A5C - orange
#D6D6D6 - gray */

body {
    background-color: #D6D6D6;
    font-family: "PT Sans", Roboto, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.logo {
    width: 80px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #D6D6D6;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-align: center;
    color: #2B3A67;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #214c00;
    color: #D6D6D6;
}

.logo {
    border-radius: 50%;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* margin-top: -100px; */
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    /* z-index: -1; */
}

#hero-img {
    width: 100%;
    /* margin-top: 20px; */
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    /* margin-top: 75px; */
}

.home-title {
    text-align: center;
    color: #FF9A5C;
    font-family: "Rock Salt", "Bradley Hand", cursive;
    font-size: 2em;
    margin-top: 10px;
}

#hero-msg h4 {
    color: #D6D6D6;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.book, .join {
    background-color: #2B3A67;
    color: #D6D6D6;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #214c00;
    color: #D6D6D6;
}

.button-box {
    text-align: center;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

h2 {
    margin-bottom: 100px;
}

.rivers-card .camping-card .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px 
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background{
    height: 725px;
    background-color: #2B3A67;
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.msg {
    background-color: #D6D6D6;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px;
}

.msg h2 {
    color: #214c00;
    font-family: "Rock Salt", "Bradley Hand", cursive;
}
.msg p {
    color: #2B3A67;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #FF9A5C;
    padding: 25px 45px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3, footer h3 a {
    color: #D6D6D6;
    font-size: .8em;
}

footer h3 a:hover {
    text-decoration: underline;
    background-color: #D6D6D6;
    color: #2B3A67; 
    padding: 5px;
    border-radius: 5px;
}

footer a {
    color: #FF9A5C;
    text-decoration: none;
    }

footer a:hover {
    opacity: .8;
}

footer .social img {
    padding-top: 15px;
}

/* CSS for Rivers Page */

.rivers-grid {
    background-color: #214c00;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.rivers-title {
    font-family: "Rock Salt", "Bradley Hand", cursive;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 20px;
}

.idaho-river, .utah-river, .arizona-river {
    background-color: #6f7364;
    border: 1px solid black;
    margin: 20px;
}

/* .river-img {
    grid-column: 1/3;
} */

.idaho-river {
    grid-column: 1/6;
    grid-row: 2/6;
}

#idaho-river-img {
    grid-column: 1/3;
    grid-row:2/6;
    border: 2px solid #FF9A5C;
    /* padding: 5px; */
}

#idaho-info {
    grid-column: 3/6;
    grid-row: 2/6;
}

.utah-river {
    grid-column: 1/6;
    grid-row: 6/10;
}

#utah-river-img {
    grid-column: 1/3;
    grid-row: 6/10;
    border: 2px solid #FF9A5C;
    /* padding: 5px; */
}

#utah-info {
    grid-column: 3/6;
    grid-row: 6/10;
}

.arizona-river {
    grid-column: 1/6;
    grid-row: 10/14;
}

#arizona-river-img {
    grid-column: 1/3;
    grid-row: 10/14;
    border: 2px solid #FF9A5C;
    /* padding: 5px; */
}

#arizona-info {
    grid-column: 3/6;
    grid-row: 10/14;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }

  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
.moveDown {
    margin-top: 3em;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}