@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@300&family=Rock+Salt&display=swap');

/* colors
#214c00 - green
#2B3A67 - blue
#FF9A5C - orange
#D6D6D6 - gray */

body {
    background-color: #D6D6D6;
    font-family: "PT Sans", Roboto, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.logo {
    width: 80px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #D6D6D6;
}

nav a {
    text-align: center;
    color: #2B3A67;
    text-decoration: none;
    padding: 15px 25px;
}

nav a:hover {
    background-color: #214c00;
    color: #D6D6D6;
}

.logo {
    border-radius: 50%;
}

#logo_link {
    padding-top: 5px;
}

#hero-img {
    width: 100%;
    margin-top: 20px;
}

.home-title {
    text-align: center;
    color: #214c00;
    font-family: "Rock Salt", "Bradley Hand", cursive;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #2B3A67;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.book, .join {
    background-color: #2B3A67;
    color: #D6D6D6;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #214c00;
    color: #D6D6D6;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

h2 {
    margin: 0;
}

.rivers-card .camping-card .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}

#background{
    height: 725px;
    background-color: #2B3A67;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.msg {
    background-color: #D6D6D6;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: #214c00;
    font-family: "Rock Salt", "Bradley Hand", cursive;
}
.msg p {
    color: #2B3A67;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #FF9A5C;
    padding: 25px 45px;
    margin-top: 200px;
}

footer h3, footer h3 a {
    color: #D6D6D6;
    font-size: .8em;
}

footer h3 a:hover {
    text-decoration: underline;
}

footer a {
    color: #FF9A5C;
    text-decoration: none;
    }
footer a:hover {
    background-color: #D6D6D6;
    color: #2B3A67; 
}

footer .social img {
    padding-top: 15px;
}