/* colors
#214c00 - green
#2B3A67 - blue
#FF9A5C - orange
#D6D6D6 - gray */

body {
    background-color: #D6D6D6;
}

.logo {
    width: 80px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #D6D6D6;
}

nav a {
    text-align: center;
    color: #2B3A67;
    text-decoration: none;
}

nav a:hover {
    background-color: #214c00;
    color: #D6D6D6;
}

#hero-img {
    width: 100%;
}

.home-title {
    text-align: center;
    color: #214c00;
}

h4 {
    color: #2B3A67;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.book, .join {
    background-color: #2B3A67;
    color: #D6D6D6;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #214c00;
    color: #D6D6D6;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background{
    height: 725px;
    background-color: #2B3A67;
}

.icon {
    width: 80px;
}

.msg {
    background-color: #D6D6D6;
}

.msg h2 {
    color: #214c00;
}
.msg p {
    color: #2B3A67;
}

footer {
    background-color: #FF9A5C;
}

footer h3, footer h3 a {
    color: #D6D6D6;
}

footer h3 a:hover {
    text-decoration: underline;
}

footer a {
    color: #FF9A5C;
    text-decoration: none;
}
footer a:hover {
    background-color: #D6D6D6;
    color: #2B3A67; 
}