@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500&family=Nothing+You+Could+Do&display=swap');

#content {
    max-width: 100%;
    background-color: gray;
    margin: 0 auto;
    
}

header {
    background-color: white;
    /* display: grid;
    grid-template-columns: 150px auto; */
    /* border-top-left-radius: 105px;
    border-bottom-left-radius: 105px; */
}

.header {
    border-top-left-radius: 105px;
    border-bottom-left-radius: 105px;
}

.logo {
    width: 200px;
    border-radius: 50%;
    border: 0
}

header {
    display: grid;
    grid-template-columns: 200px auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
    color: #DB7E06
}

/* nav a:hover {
    background-color: #FAFF81;
    color: #0e60db;
    border-radius: 10%;
} */

/* Dropdown Button */
.dropbtn {
    /* background-color: #0e60db; */
    font-family: 'Nothing You Could Do';
    color: #DB7E06;
    padding: 16px;
    font-size: 25pt;
    margin: 25px;
    border: none;
    background-color: white;
    /* justify-content: flex-end; */
  }

  .dropbtn:hover {
    background-color: gray;
    color: #FAFF81;
    border-radius: 10%;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position:absolute ;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Nothing You Could Do';
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #DB7E06;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #FAFF81;
    color: #0e60db;
    font-family: 'Nothing You Could Do';
    
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 10%;
    overflow: hidden;
    background-color: #FFFDED;
    /* border: 1px solid black */
}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}

#hero-img {
    width: 100%
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    font-family: 'Nothing You Could Do';
    font-size: 25pt;
}

#main-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr 50px auto;
    background-color: #FFFDED;
    margin: 25px auto;
    padding: 25px;
}

#welcome-msg {
    grid-column: 4/9;
    grid-row: 1/2;
    border: 1px solid #03071E;
    margin: 10px; 
    color: #DB7E06;
    background-color: #d0d0ce;
    border-radius: 5px;
    font-family: "Cormorant Garamond";
}

#welcome-msg h2 {
    text-align: center;
    font-size: 40pt;
    margin-bottom: 0;
}

#welcome-msg h3 {
    text-align: center;
    font-size: 20pt;
    margin-bottom: 0;
}

#welcome-msg p {
    padding: 10px;
    font-size: 25px;
    margin-top: 0;
}

.islam-card {
    grid-column: 3/6;
    grid-row: 3/4;
    background-color: #03071E;
    padding: 20px;
    border-radius: 10%;
}

.shinto-card {
    grid-column: 7/10;
    grid-row: 3/4;
    background-color: #03071E;
    padding: 20px;
    border-radius: 10%;
}

#islam-logo {
    width: 100%;
    text-align: center;
    overflow: hidden;
    border-radius: 10%;
}

#shinto-logo {
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
    border-radius: 10%;
}

.button {
text-align: center;
font-size: 30pt;
/* background-color: #DB7E06; */
display: grid;
grid-template-columns: 1fr 1fr 1fr;
padding-top: 15px;
}

.button-link {
    text-decoration: none;
    color: #FFFDED;
    padding: 10px;
}

#islam-button {
    grid-column: 2/3;
    background-color: #DB7E06;
    border-radius: 15px;
}

#islam-button:hover {
    background-color: #FAFF81;
    color: #0e60db;
}

#shinto-button {
    grid-column: 2/3;
    background-color: #DB7E06;
    border-radius: 15px;
}

#shinto-button:hover {
    background-color: #FAFF81;
    color: #0e60db;
}

footer {
    background-color: #FFFDED;
    display: grid;
    grid-template-columns: 500px auto;
}

footer h3 {
    padding-left: 15px;
}

footer a {
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    padding-right: 50px;
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: #DB7E06;
}

/* css for Islam page */

#islam-content {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px repeat(3, 1fr);
    /* background-color: #FFFDED; */
    margin: 25px auto 100px auto;
    padding: 25px;
    gap: 50px;
}

#islam-content h1 {
    grid-column-start: 1;
    color: #FFFDED;
    font-family: "Nothing You Could Do";
    font-size: 75pt;
    padding-top: 50px;
}

#islam-history {
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 50px;
    align-items: center;
    /* background-color: #FFFDED; */
}

#islam-exp {
    grid-column: 1/3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 50px;
    align-items: center;
    /* background-color: #FFFDED; */
}

#islam-beauty {
    grid-column: 1/3;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 50px;
    align-items: center;
    /* background-color: #FFFDED; */
}

.history-img {
    grid-column: 1/2;
    width: 50%;
    justify-self: right;
    background-color: #FFFDED;
    border-radius: 25pt;;
}

.history-description {
    grid-column: 2/3;
    background-color: #FFFDED;
    font-size: 20pt;
    padding: 50px;
    border-radius: 25pt;
    font-family: "Cormorant Garamond", "Times New Roman", serif;
    font-weight: 600;
}

.exp-img {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    background-color: #FFFDED;
    border-radius: 25pt;;
}

.exp-description {
    grid-column: 1/2;
    background-color: #FFFDED;
    font-size: 20pt;
    padding: 50px;
    border-radius: 25pt;
    font-family: "Cormorant Garamond", "Times New Roman", serif;
    font-weight: 600;
}

.beauty-img {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/4; 
    justify-self: right;
    background-color: #FFFDED;
    border-radius: 25pt;;
}

.beauty-description {
    grid-column: 2/3;
    background-color: #FFFDED;
    font-size: 20pt;
    padding: 50px;
    margin: 0;   
    border-radius: 25pt;
    font-family: "Cormorant Garamond", "Times New Roman", serif;
    font-weight: 600;
}

#beauty1 {
    /* padding-bottom: 0; */
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

#beauty2 {
    padding: 25px 50px;
    border-radius: 0%;
    z-index: 1;
}

#beauty3 {
    /* padding-top: 0; */
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

/* add a media query? */