@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500&family=Nothing+You+Could+Do&display=swap');

#content {
    max-width: 100%;
    background-color: gray;
    margin: 0 auto;
    
}

header {
    background-color: white;
    /* display: grid;
    grid-template-columns: 150px auto; */
}

/* #logo-link {
    border-radius: 50%;
    border: 0
} */

.logo {
    width: 200px;
    border-radius: 50%;
    border: 0
}

header {
    display: grid;
    grid-template-columns: 200px auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
    color: #DB7E06
}

nav a:hover {
    background-color: #FAFF81;
    color: #0e60db;
    border-radius: 15%;
}

/* main {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}

#hero-img {
    width: 100%
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    font-family: 'Nothing You Could Do';
    font-size: 25pt;
}

#main-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr 50px auto;
    background-color: #FFFDED;
    margin: 25px auto;
    padding: 25px;
}

#welcome-msg {
    grid-column: 4/9;
    grid-row: 1/2;
    border: 1px solid #03071E;
    margin: 10px; 
    color: #DB7E06;
    background-color: #d0d0ce;
    border-radius: 5px;
}

#welcome-msg h2 {
    text-align: center;
    font-size: 30pt;
}

#welcome-msg p {
    padding: 10px;
}

.islam-card {
    grid-column: 3/6;
    grid-row: 3/4;
    background-color: #03071E;
    padding: 20px;
    border-radius: 10%;
}

.shinto-card {
    grid-column: 7/10;
    grid-row: 3/4;
    background-color: #03071E;
    padding: 20px;
    border-radius: 10%;
}

#islam-img {
    width: 100%;
    text-align: center;
}

#shinto-img {
    width: 100%;
    height: 69%;
}

.button {
text-align: center;
font-size: 30pt;
/* background-color: #DB7E06; */
display: grid;
grid-template-columns: 1fr 1fr 1fr;
/* width: 150px; */
}

.button-link {
    text-decoration: none;
    color: #FFFDED;
}

#islam-button {
    grid-column: 2/3;
    background-color: #DB7E06;
    border-radius: 15px;
}

#islam-button:hover {
    background-color: #FAFF81;
    color: #0e60db;
}

#shinto-button {
    grid-column: 2/3;
    background-color: #DB7E06;
    border-radius: 15px;
}

#shinto-button:hover {
    background-color: #FAFF81;
    color: #0e60db;
}

footer {
    background-color: #FFFDED;
    display: grid;
    grid-template-columns: 500px auto;
}

footer h3 {
    padding-left: 15px;
}

footer a {
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    padding-right: 50px;
    text-decoration: none;
}

footer a:hover {
    color: #DB7E06;
}